<h3>
<% if post.url %>
  <a href="<%= post.url %>"><%= post.title %></a>
<% else %>
  <a href="<%= post_url(post) %>"><%= post.title %></a>
<% end %>
</h3>
<br>
<a href="<%= post_url(post) %>"><%= post.comments.count %> commintz</a>
sum mittz of <a href="<%= user_url(post.author) %>">
  <%= post.author.collar %>
</a>
<br>
<br>
