<% action_url = subz.persisted? ? sub_url(subz) : subs_url %>
<% subz_method = subz.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="_method" value="<%= subz_method %>">
  <%= auth_token %>

  <label for="title"> Champaign </label>
  <input type="text" name="sub[title]" value="<%= subz.title %>">
  <br>

  <label for="description"> Bttul straturgy </label>
  <input type="text" name="sub[description]" value="<%= subz.description %>">
  <br>

  <label for="moderator">Furliss Leedur</label>
  <select name="sub[moderator_id]" id="moderator">
    <option disabled selected></option>

    <% User.all.each do |user| %>
      <option
        <%= 'selected' if user == subz.moderator %>
        value="<%= user.id %>">
          <%= user.collar %>
      </option>
    <% end %>

  </select>
  <br>
  
  <button>Death 2 Hyoomunz</button>
</form>
